body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cbc1af;
}
#question-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: auto;
    /* margin: 10% auto; */
    width: 60%;
    border: 2px solid #543028;
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: 10px 5px 5px #543028;
}
#options-list li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#options-list{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    padding-left: 0;
    width: 100%;
    gap: 15px;

}

.option{
    background-color: #f97038;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.questionBlock {
    display: flex;
    flex-direction: column;
    border-radius: 10px 100px / 120px;
    border: 1px solid #543028;
    background-color: #ab755d;
    padding: 20px;
    color: #fff;

}
.questionBlock img{ 
    width: 30px;


}

header{
    display: flex;
    align-items: center;
    padding-top: 30px;

}
header img{
    width: 10%;
    margin-right: 25%;
    margin-left: 5%;
}
#next-button{
    background-color:#197C70 ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 50px;
    
}
#next-button:hover,#next-button:disabled {
    background-color: #197c70a8 ;
}


#result-container{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    background-color: #f97038;
    border-radius: 20px;
    box-shadow: 15px 15px 5px #543028;
    padding: 90px;
    color: #fff;
}

.reload{
    color: #197C70;
    text-decoration: none;
    
}